---
- name: Ensure hostname is set to fqdn
  ansible.builtin.hostname:
    name: "{{ ansible_fqdn }}"

- name: Install rsync
  ansible.builtin.apt:
    name: rsync

- name: Install software for dotfiles
  ansible.builtin.apt:
    name:
      - ansible
      - git

- name: Install other software
  ansible.builtin.apt:
    name:
      - htop
      - screen
      - vim

- name: Create mario user
  ansible.builtin.user:
    name: mario
    shell: /bin/bash

- name: Set ssh key for mario
  ansible.posix.authorized_key:
    exclusive: true
    user: mario
    key: >-
      ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIFk83S5KYE7ErNJW7JEJbTkwTz1WtcNrOCoZ9hMnwBQT
      mario

- name: Add mario to sudoers
  ansible.builtin.copy:
    dest: /etc/sudoers.d/mario
    group: root
    mode: "0440"
    owner: root
    src: sudoer
    validate: visudo -cf %s
