[submodule "pkgs/ruby-activemodel"]
	path = pkgs/ruby-activemodel
	url = https://aur.archlinux.org/ruby-activemodel.git
[submodule "pkgs/ruby-activerecord"]
	path = pkgs/ruby-activerecord
	url = https://aur.archlinux.org/ruby-activerecord.git
[submodule "pkgs/ruby-mysql2"]
	path = pkgs/ruby-mysql2
	url = https://aur.archlinux.org/ruby-mysql2.git
[submodule "pkgs/adminer"]
	path = pkgs/adminer
	url = https://aur.archlinux.org/adminer.git
[submodule "pkgs/helm-gcs"]
	path = pkgs/helm-gcs
	url = https://aur.archlinux.org/helm-gcs.git
[submodule "pkgs/helm-secrets"]
	path = pkgs/helm-secrets
	url = https://aur.archlinux.org/helm-secrets.git
[submodule "pkgs/keymapper"]
	path = pkgs/keymapper
	url = https://aur.archlinux.org/keymapper.git
[submodule "pkgs/newrelic-cli"]
	path = pkgs/newrelic-cli
	url = https://aur.archlinux.org/newrelic-cli.git
[submodule "pkgs/nodejs-autoprefixer"]
	path = pkgs/nodejs-autoprefixer
	url = https://aur.archlinux.org/nodejs-autoprefixer.git
[submodule "pkgs/nodejs-clean-css-cli"]
	path = pkgs/nodejs-clean-css-cli
	url = https://aur.archlinux.org/nodejs-clean-css-cli.git
[submodule "pkgs/nodejs-mjml"]
	path = pkgs/nodejs-mjml
	url = https://aur.archlinux.org/nodejs-mjml.git
[submodule "pkgs/nodejs-pug-cli"]
	path = pkgs/nodejs-pug-cli
	url = https://aur.archlinux.org/nodejs-pug-cli.git
[submodule "pkgs/redli"]
	path = pkgs/redli
	url = https://aur.archlinux.org/redli.git
[submodule "pkgs/ruby-cliver"]
	path = pkgs/ruby-cliver
	url = https://aur.archlinux.org/ruby-cliver.git
[submodule "pkgs/ruby-digest-crc"]
	path = pkgs/ruby-digest-crc
	url = https://aur.archlinux.org/ruby-digest-crc.git
[submodule "pkgs/ruby-oj"]
	path = pkgs/ruby-oj
	url = https://aur.archlinux.org/ruby-oj.git
[submodule "pkgs/ruby-powerpack"]
	path = pkgs/ruby-powerpack
	url = https://aur.archlinux.org/ruby-powerpack.git
[submodule "pkgs/ruby-rspectacular"]
	path = pkgs/ruby-rspectacular
	url = https://aur.archlinux.org/ruby-rspectacular.git
[submodule "pkgs/ruby-rubocop-rails"]
	path = pkgs/ruby-rubocop-rails
	url = https://aur.archlinux.org/ruby-rubocop-rails.git
[submodule "pkgs/xfce-theme-manager"]
	path = pkgs/xfce-theme-manager
	url = https://aur.archlinux.org/xfce-theme-manager.git
[submodule "pkgs/ansible-aur"]
	path = pkgs/ansible-aur
	url = https://aur.archlinux.org/ansible-aur.git
[submodule "pkgs/ansible-gpg-key-git"]
	path = pkgs/ansible-gpg-key-git
	url = https://aur.archlinux.org/ansible-gpg-key-git.git
[submodule "pkgs/ansible-gsetting-git"]
	path = pkgs/ansible-gsetting-git
	url = https://aur.archlinux.org/ansible-gsetting-git.git
[submodule "pkgs/nodejs-n"]
	path = pkgs/nodejs-n
	url = https://aur.archlinux.org/nodejs-n.git
[submodule "pkgs/chruby"]
	path = pkgs/chruby
	url = https://aur.archlinux.org/chruby.git
[submodule "pkgs/ruby-install"]
	path = pkgs/ruby-install
	url = https://aur.archlinux.org/ruby-install.git
[submodule "pkgs/ruby-hashie"]
	path = pkgs/ruby-hashie
	url = https://aur.archlinux.org/ruby-hashie.git
[submodule "pkgs/ruby-ruby_version"]
	path = pkgs/ruby-ruby_version
	url = https://aur.archlinux.org/ruby-ruby_version.git
[submodule "pkgs/ruby-ruby_engine"]
	path = pkgs/ruby-ruby_engine
	url = https://aur.archlinux.org/ruby-ruby_engine.git
[submodule "pkgs/ruby-rspec-pending_for"]
	path = pkgs/ruby-rspec-pending_for
	url = https://aur.archlinux.org/ruby-rspec-pending_for.git
[submodule "pkgs/ruby-erubis"]
	path = pkgs/ruby-erubis
	url = https://aur.archlinux.org/ruby-erubis.git
[submodule "pkgs/ttfautohint"]
	path = pkgs/ttfautohint
	url = https://aur.archlinux.org/ttfautohint.git
[submodule "pkgs/pkger"]
	path = pkgs/pkger
	url = https://aur.archlinux.org/pkger.git
[submodule "pkgs/sysz"]
	path = pkgs/sysz
	url = https://aur.archlinux.org/sysz.git
[submodule "pkgs/ruby-bcrypt"]
	path = pkgs/ruby-bcrypt
	url = https://aur.archlinux.org/ruby-bcrypt.git
[submodule "pkgs/pluto"]
	path = pkgs/pluto
	url = https://aur.archlinux.org/pluto.git
[submodule "pkgs/ruby-rchardet"]
	path = pkgs/ruby-rchardet
	url = https://aur.archlinux.org/ruby-rchardet.git
[submodule "pkgs/ruby-git"]
	path = pkgs/ruby-git
	url = https://aur.archlinux.org/ruby-git.git
[submodule "pkgs/helm-diff"]
	path = pkgs/helm-diff
	url = https://aur.archlinux.org/helm-diff.git
[submodule "pkgs/helm-s3"]
	path = pkgs/helm-s3
	url = https://aur.archlinux.org/helm-s3.git
[submodule "pkgs/gitstatus"]
	path = pkgs/gitstatus
	url = https://aur.archlinux.org/gitstatus.git
[submodule "pkgs/gimp-extras"]
	path = pkgs/gimp-extras
	url = https://aur.archlinux.org/gimp-extras.git
[submodule "pkgs/ttf-meslo-nerd-font-powerlevel10k"]
	path = pkgs/ttf-meslo-nerd-font-powerlevel10k
	url = https://aur.archlinux.org/ttf-meslo-nerd-font-powerlevel10k.git
[submodule "pkgs/asdf-vm"]
	path = pkgs/asdf-vm
	url = https://aur.archlinux.org/asdf-vm.git
[submodule "pkgs/cobra-cli"]
	path = pkgs/cobra-cli
	url = https://aur.archlinux.org/cobra-cli.git
[submodule "pkgs/gallery-dl"]
	path = pkgs/gallery-dl
	url = https://aur.archlinux.org/gallery-dl.git
[submodule "pkgs/goose"]
	path = pkgs/goose
	url = https://aur.archlinux.org/goose.git
[submodule "pkgs/asciinema-agg"]
	path = pkgs/asciinema-agg
	url = https://aur.archlinux.org/asciinema-agg.git
[submodule "pkgs/cui"]
	path = pkgs/cui
	url = https://aur.archlinux.org/cui.git
[submodule "pkgs/dracut-hook-uefi"]
	path = pkgs/dracut-hook-uefi
	url = https://aur.archlinux.org/dracut-hook-uefi.git
[submodule "pkgs/yj"]
	path = pkgs/yj
	url = https://aur.archlinux.org/yj.git
[submodule "pkgs/ruby-abstract_type"]
	path = pkgs/ruby-abstract_type
	url = https://aur.archlinux.org/ruby-abstract_type.git
[submodule "pkgs/ruby-equalizer"]
	path = pkgs/ruby-equalizer
	url = https://aur.archlinux.org/ruby-equalizer.git
[submodule "pkgs/ruby-thread_safe"]
	path = pkgs/ruby-thread_safe
	url = https://aur.archlinux.org/ruby-thread_safe.git
[submodule "pkgs/ruby-memoizable"]
	path = pkgs/ruby-memoizable
	url = https://aur.archlinux.org/ruby-memoizable.git
[submodule "pkgs/ruby-adamantium"]
	path = pkgs/ruby-adamantium
	url = https://aur.archlinux.org/ruby-adamantium.git
[submodule "pkgs/ruby-concord"]
	path = pkgs/ruby-concord
	url = https://aur.archlinux.org/ruby-concord.git
[submodule "pkgs/ruby-yardstick"]
	path = pkgs/ruby-yardstick
	url = https://aur.archlinux.org/ruby-yardstick.git
[submodule "pkgs/apachedirectorystudio"]
	path = pkgs/apachedirectorystudio
	url = https://aur.archlinux.org/apachedirectorystudio.git
[submodule "pkgs/gnome-shell-extension-arch-update"]
	path = pkgs/gnome-shell-extension-arch-update
	url = https://aur.archlinux.org/gnome-shell-extension-arch-update.git
[submodule "pkgs/gnome-shell-extension-dash-to-dock"]
	path = pkgs/gnome-shell-extension-dash-to-dock
	url = https://aur.archlinux.org/gnome-shell-extension-dash-to-dock.git
[submodule "pkgs/google-cloud-cli"]
	path = pkgs/google-cloud-cli
	url = https://aur.archlinux.org/google-cloud-cli.git
[submodule "pkgs/terraform-docs"]
	path = pkgs/terraform-docs
	url = https://aur.archlinux.org/terraform-docs.git
[submodule "pkgs/networkmanager-fortisslvpn"]
	path = pkgs/networkmanager-fortisslvpn
	url = https://aur.archlinux.org/networkmanager-fortisslvpn.git
[submodule "pkgs/tor-browser-bin"]
	path = pkgs/tor-browser-bin
	url = https://aur.archlinux.org/tor-browser-bin.git
[submodule "pkgs/osc"]
	path = pkgs/osc
	url = https://aur.archlinux.org/osc.git
[submodule "pkgs/iprange"]
	path = pkgs/iprange
	url = https://aur.archlinux.org/iprange.git
[submodule "pkgs/gnome-shell-extension-nightthemeswitcher"]
	path = pkgs/gnome-shell-extension-nightthemeswitcher
	url = https://aur.archlinux.org/gnome-shell-extension-nightthemeswitcher.git
[submodule "pkgs/systemd-boot-pacman-hook"]
	path = pkgs/systemd-boot-pacman-hook
	url = https://aur.archlinux.org/systemd-boot-pacman-hook.git
[submodule "pkgs/gnome-shell-extension-pano"]
	path = pkgs/gnome-shell-extension-pano
	url = https://aur.archlinux.org/gnome-shell-extension-pano.git
[submodule "pkgs/gnome-shell-extension-no-overview"]
	path = pkgs/gnome-shell-extension-no-overview
	url = https://aur.archlinux.org/gnome-shell-extension-no-overview.git
[submodule "pkgs/gnome-shell-extension-espresso"]
	path = pkgs/gnome-shell-extension-espresso
	url = https://aur.archlinux.org/gnome-shell-extension-espresso.git
[submodule "pkgs/gnome-shell-extension-systemd-manager"]
	path = pkgs/gnome-shell-extension-systemd-manager
	url = https://aur.archlinux.org/gnome-shell-extension-systemd-manager.git
[submodule "pkgs/python-mock"]
	path = pkgs/python-mock
	url = https://aur.archlinux.org/python-mock.git
[submodule "pkgs/python-hcl2"]
	path = pkgs/python-hcl2
	url = https://aur.archlinux.org/python-hcl2.git
[submodule "pkgs/python-google-cloud-core"]
	path = pkgs/python-google-cloud-core
	url = https://aur.archlinux.org/python-google-cloud-core.git
[submodule "pkgs/python-google-cloud-storage"]
	path = pkgs/python-google-cloud-storage
	url = https://aur.archlinux.org/python-google-cloud-storage.git
[submodule "pkgs/python-google-resumable-media"]
	path = pkgs/python-google-resumable-media
	url = https://aur.archlinux.org/python-google-resumable-media.git
[submodule "pkgs/python-google-crc32c"]
	path = pkgs/python-google-crc32c
	url = https://aur.archlinux.org/python-google-crc32c.git
[submodule "pkgs/google-crc32c"]
	path = pkgs/google-crc32c
	url = https://aur.archlinux.org/google-crc32c.git
[submodule "pkgs/python-google-cloud-compute"]
	path = pkgs/python-google-cloud-compute
	url = https://aur.archlinux.org/python-google-cloud-compute.git
[submodule "pkgs/python-proto-plus"]
	path = pkgs/python-proto-plus
	url = https://aur.archlinux.org/python-proto-plus.git
[submodule "pkgs/gnome-shell-extension-randomwallpaper"]
	path = pkgs/gnome-shell-extension-randomwallpaper
	url = https://aur.archlinux.org/gnome-shell-extension-randomwallpaper.git
[submodule "pkgs/headsetcontrol"]
	path = pkgs/headsetcontrol
	url = https://aur.archlinux.org/headsetcontrol.git
[submodule "pkgs/dnglab"]
	path = pkgs/dnglab
	url = https://aur.archlinux.org/dnglab.git
[submodule "pkgs/gnome-shell-extension-blur-my-shell"]
	path = pkgs/gnome-shell-extension-blur-my-shell
	url = https://aur.archlinux.org/gnome-shell-extension-blur-my-shell.git
[submodule "pkgs/gnome-shell-extension-openweatherrefined"]
	path = pkgs/gnome-shell-extension-openweatherrefined
	url = https://aur.archlinux.org/gnome-shell-extension-openweatherrefined.git
[submodule "pkgs/gnome-shell-extension-emoji-copy"]
	path = pkgs/gnome-shell-extension-emoji-copy
	url = https://aur.archlinux.org/gnome-shell-extension-emoji-copy.git
[submodule "pkgs/dasel"]
	path = pkgs/dasel
	url = https://aur.archlinux.org/dasel.git
[submodule "pkgs/lazydocker"]
	path = pkgs/lazydocker
	url = https://aur.archlinux.org/lazydocker.git
[submodule "pkgs/zsh-theme-powerlevel10k"]
	path = pkgs/zsh-theme-powerlevel10k
	url = https://aur.archlinux.org/zsh-theme-powerlevel10k.git
[submodule "pkgs/wgo"]
	path = pkgs/wgo
	url = https://aur.archlinux.org/wgo.git
[submodule "pkgs/templ"]
	path = pkgs/templ
	url = https://aur.archlinux.org/templ.git
[submodule "pkgs/mise"]
	path = pkgs/mise
	url = https://aur.archlinux.org/mise.git
